@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fontsource/noto-sans-thai/100.css';
@import '@fontsource/noto-sans-thai/200.css';
@import '@fontsource/noto-sans-thai/300.css';
@import '@fontsource/noto-sans-thai/400.css';
@import '@fontsource/noto-sans-thai/500.css';
@import '@fontsource/noto-sans-thai/600.css';
@import '@fontsource/noto-sans-thai/700.css';
@import '@fontsource/noto-sans-thai/800.css';
@import '@fontsource/noto-sans-thai/900.css';

body {
  font-family: 'Noto Sans Thai', sans-serif;
}

:root {
  --bs-primary: #343c6a;
  --bs-primary-rgb: 52, 60, 106;
}

.text-primary {
  color: var(--bs-primary) !important;
}
.bg-primary {
  background-color: var(--bs-primary) !important;
}
